<footer id="contact">
    <div class="container" id="contact">
        <p>
            &copy; 2022 - All Right Reserved - <span>Hamza</span>
        </p>
        <div class="icons">
            <a href="https://www.telegram.com">
                <img src="images/icons8-telegram-app-48.png">
            </a>
            <a href="https://github.com/hamza19944">
                <img src="images/icons8-github-64.png">
            </a>
            <a href="https://www.google.com">
                <img src="images/social_googleplus_google_41.png">
            </a>
        </div>
    </div>
</footer>
    <script src="script.js"></script>
</body>
</html>