<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/all.min.css">
    <!-- font family -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;800&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <title>Protofolio</title>
</head>
<body>
    <!-- start header -->
    <header>
        <div class="container">
            <h2>Hamza Elmansy</h2>
            <ul>
                <li class="<%= active === 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
                <li class="<%= active === 'resume' ? 'active' : '' %>"><a href="/resume">Resume</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <div class="bar">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <!-- end header -->
